/* Reset y base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f0f0;
    color: white;
}
.overlay {
    background-image: url('https://www.elfinancierocr.com/resizer/v2/MWKYS35EHJDMPBFF3RQJBNIFAQ.jpg?smart=true&auth=3ea3cb04de34c2171b4046d876141212e541cab84cda989eb422e3c975d403d3&width=1773&height=1182');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    /* Altura reducida */
    position: relative;
}

/* Filtro oscuro encima de la imagen */
.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* Contenido hero sobre la imagen */
.hero {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 1rem;
}

.hero h1 {
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.2rem;
}

/* Header y navbar */
header {
    background-color: #2e7d32;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
}

/* Botón hamburguesa */
.hamburger {
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    display: none;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #c8e6c9;
}

/* Responsive para móviles del navbar*/
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        gap: 1rem;
    }

    .nav-links.active {
        display: flex;
    }
}